JavaPrograms/*.class
JavaPrograms/files

CPrograms/*.out

/.idea/.gitignore
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/modules.xml
/PersonalPractice.iml
/.idea/vcs.xml
/.idea/compiler.xml
